.box_shadow {
  border: 5px solid #c4c8cc;
  -moz-box-shadow: 5px 5px 7px #888;
  -moz-border-radius-bottomright: 15px;
  -webkit-box-shadow: 5px 5px 7px #888;
  /*-webkit-border-bottom-right-radius: 15px;*/
  -webkit-border-radius: 5px;
}
