-#= get_menu_haml @menus
.grid_2
  =link_to '日记', articles_url
-#.grid_2
  -#= '相册'
  -#=link_to '相册', photos_url
.grid_2
  =link_to '闲聊', chats_url
.grid_2
  =link_to '读过的', reads_url
.grid_2
  =link_to '看过的', watchs_url
.grid_2
  =link_to '关于自己', about_index_url
